body {
  background-image: linear-gradient(#ffd400, #ffffb7);
  margin: 0;
  padding: 0;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #e0ddca;
  position: fixed; /* Menjadikan elemen fixed */
  top: 0; /* Menetapkan posisi di bagian atas halaman */
  width: 100%; /* Menetapkan lebar elemen sesuai lebar layar */
  z-index: 333;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 50px;
  margin-left: auto;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 300px;
  height: 30%;
  background-color: #ffffff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  padding: 20px;
  text-align: center;
}

.sidebar.open {
  right: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.sidebar .close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.sidebar .profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .profile-details img {
  margin-top: 20px;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #dddddd;
}

.sidebar .logout {
  position: absolute;
  margin-top: 15px;
  left: 25px;
}

.content {
  margin-top: 150px;
  margin-left: 200px;
}

.content h2 {
  margin-bottom: 5px;
  font-size: 50px;
}
.content p {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: groove 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  backdrop-filter: blur(8px);
  position: absolute;
  left: 50%;
  height: 200px;
  width: 600px;
  transform: translateX(-50%);
}

.container h2 {
  font-size: 20px;
  margin-top: -30px;
  margin-right: 20px;
}

.container p {
  margin: 0;
}

.container img {
  width: 30%;
  height: 70%;
}

.container-1 {
  margin-top: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f6f8e2;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.heading {
  text-align: center;
  border-radius: 20px;
  background-color: #fcbc58;
  padding: 10px;
  margin-bottom: 30px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-2 {
  position: relative;
  width: 150px;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  background-color: #f6f8e2;
  margin: 10px 20px;
}

.hari {
  position: absolute;
  top: -31px;
  left: -20px;
  background-color: yellow;
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
}

.hari h2 {
  margin: 0;
}

.mapel {
  position: relative;
  background-color: #ddd;
  border-bottom-left-radius: 20px;
  padding: 5px;
}

.mapel p {
  margin-top: 10px;
}

.schedule-divider {
  border: none;
  border-top: 3px solid #dddddd;
  margin: 40px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown button {
  background-color: #f57c51;
  border: none;
  color: #333;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  display: block;
  text-align: center;
}

.dropdown button:hover {
  background-color: #ddd;
}

.dropdown ul {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 0;
  min-width: 120px;
  z-index: 1;
  display: none;
  list-style-type: none;
  margin: 10px;
}

.dropdown li {
  padding: 8px 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown li:hover {
  background-color: #f2f2f2;
}

.dropdown.open ul {
  display: block;
}

.dropdown .show {
  display: block;
}

.task {
  margin-top: 50px;
}

.container-3 {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  margin: 10px;
  justify-content: center;
}

.container-3 img {
  margin-top: 10px;
  max-height: 100px;
  object-fit: cover;
}

.container-3 .deadline {
  display: flex;
  align-items: center;
}

.container-3 .deadline span {
  font-size: 14px;
}

.container-3 p {
  margin: 0;
  text-align: center;
}

.container-3 .deadline p {
  margin: 10px;
  text-align: left;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
  width: 400px;
  height: 60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 1;
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, height 0.3s;
  height: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a img {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}
.footer {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  bottom: 0;
  color: #333333;
  font-size: 14px;
}

.page-heading {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
